<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>         
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>         
        <property name="connection.url">jdbc:mysql://localhost:3306/modulo_seguridad</property>     
        <property name="connection.username">root</property>       
        <property name="connection.password">123456</property>     
        <property name="connection.pool_size">1</property>         
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>     
        <property name="show_sql">true</property>      
        
        
		<property name="hbm2ddl.auto">create-drop</property>
        
        
        <!-- Clases entidades a las que mapea el hibernate --> 
        <mapping class="com.model.Formulario" />   
        <mapping class="com.model.Grupo" /> 
        <mapping class="com.model.Modulo" /> 
        <mapping class="com.model.Perfil" /> 
        <mapping class="com.model.Permiso" /> 
        <mapping class="com.model.Usuario" />   
    </session-factory>
</hibernate-configuration>